<div class="container">
    <div class="card-columns">
        <div class="card" v-for="item in articles">
            <img class="card-img-top" v-bind:src="item.urlToImage" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer">
                <a v-bind:href="item.url" target="_blank">Read more...</a>
            </div>
        </div>
    </div>
</div>