<div class="container">
  <header class="news-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 text-center">
        <a class="news-header-logo text-dark">NEWS TODAY</a>
      </div>
      <div class="col-md-1 d-flex justify-content-end">
        <a href="https://github.com/mukeshrawat02/vue-news-app" target="_blank">
          <img src='../../../assets/github-logo.svg' width="30px">
        </a>
      </div>
    </div>
  </header>
  <Menu></Menu>
</div>