<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <router-link class="p-2 text-muted" to="/news/world">World</router-link>
        <router-link class="p-2 text-muted" to="/news/uk">UK</router-link>
        <router-link class="p-2 text-muted" to="/news/technology">Technology</router-link>
        <router-link class="p-2 text-muted" to="/news/design">Design</router-link>
        <router-link class="p-2 text-muted" to="/news/culture">Culture</router-link>
        <router-link class="p-2 text-muted" to="/news/business">Business</router-link>
        <router-link class="p-2 text-muted" to="/news/politics">Politics</router-link>
        <router-link class="p-2 text-muted" to="/news/opinion">Opinion</router-link>
        <router-link class="p-2 text-muted" to="/news/science">Science</router-link>
        <router-link class="p-2 text-muted" to="/news/health">Health</router-link>
        <router-link class="p-2 text-muted" to="/news/style">Style</router-link>
        <router-link class="p-2 text-muted" to="/news/travel">Travel</router-link>
    </nav>
</div>