<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <router-link class="p-2 text-muted" to="/">World</router-link>
        <router-link class="p-2 text-muted" to="/about">UK</router-link>
        <router-link class="p-2 text-muted" to="#">Technology</router-link>
        <router-link class="p-2 text-muted" to="#">Design</router-link>
        <router-link class="p-2 text-muted" to="#">Culture</router-link>
        <router-link class="p-2 text-muted" to="#">Business</router-link>
        <router-link class="p-2 text-muted" to="#">Politics</router-link>
        <router-link class="p-2 text-muted" to="#">Opinion</router-link>
        <router-link class="p-2 text-muted" to="#">Science</router-link>
        <router-link class="p-2 text-muted" to="#">Health</router-link>
        <router-link class="p-2 text-muted" to="#">Style</router-link>
        <router-link class="p-2 text-muted" to="#">Travel</router-link>
    </nav>
</div>